/* Name: Kevin Wang
 * File: theme.css
 * ------------------
 * Styles for handouts!
 */

/* backup "Comic Sans" font -- on Mac, Comic Sans MS does not render, so we'll use this more modern version instead :) */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* for inline code and code blocks! */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/******************** STYLES APPLIED TO TAGS -- CHANGE AS NEEDED ********************/

/* the main body of our handout -- what kinds of styles do we want to apply to the handout overall? */
#generated-code {
    max-width: 468pt;
    width: 100%;  /* prevents expansion/resizing issues */
    padding: 72pt;
    margin: 0 auto; /* centers the page */

    /* give the top and bottom of the page some breathing room */
    margin-top: 72pt;
    margin-bottom: 72pt;

    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif;
    font-size: 11pt;  /* by default */
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
}

#generated-code h1 {
    font-size: 19pt;
    text-align: center;
    margin: 0;

    /* add some big padding on the top, this is okay since we only ever use h1's for the title */
    /* padding-top: 72pt; */
}

#generated-code h2 {
    font-size: 13pt;
    text-align: center;
    margin: 0;
}

#generated-code h3 {
    font-size: 12pt;
    text-align: center;
}

#generated-code img {
    /* all images are centered by default */
    /* we need both of the tags below to center the image */
    display: block;
    margin: auto;
}

#generated-code pre {
    padding: 6.667pt;
    text-wrap: wrap;
    background-color: rgb(230, 230, 250);
    margin-top: 0;
    margin-bottom: 0;
}

/******************** CUSTOM CLASSES SPECIFIC TO HANDOUTS ********************/

.checkpoint {
    padding: 14.4pt;
    background-color: rgb(255, 242, 204);
    font-size: 9pt;
}

.hint {
    padding: 14.4pt;
    background-color: rgb(227, 244, 250);
    font-size: 9pt;
}

.byline {
    text-align: right;
    font-size: 10pt;
    color: #7F7F7F;
}

/**** used for text and text only ****/

.center { 
    display: block;
    margin: auto;
}

/**** clicky class makes a portal, well, clickable! ****/

.clicky {
    box-shadow: inset 0 -4.8px 0 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    padding-bottom: 8px;
    background: #93c5fd;
    /* text-shadow: 0px 3px rgba(0, 0, 0, 0.2); */
}
.clicky:hover {
    box-shadow: inset 0 -2.25px 0 0 rgba(0, 0, 0, 0.2);
}
.clicky:active {
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.2);
}

/**** portal class creates some text with a rounded background around it ****/

.portal { 
    color: #1F2937;
    border: 1px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    /* needed to center the button */
    display: flex;

    /* to make the text centered within the button */
    margin: 0px auto 0px auto;
    padding: 4px 8px 8px 8px;

    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif;
}

/**** transitions for the solution divs ****/

.solution {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.solution.open {
    max-height: 5000px;  /* this should be big enough :-P */
}

/******************** CODE HIGHLIGHTING! ********************/

#generated-code .token.pointer {
    color: hotpink;
}