/* Name: Kevin Wang
 * File: theme.css
 * ------------------
 * Styles for handouts!
 */

/* backup "Comic Sans" font -- on Mac, Comic Sans MS does not render, so we'll use this more modern version instead :) */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* for inline code and code blocks! */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* the main body of our handout -- what kinds of styles do we want to apply to the handout overall? */
#generated-code {
    max-width: 468pt;
    width: 100%;  /* prevents expansion/resizing issues */
    padding: 72pt;
    margin: 0 auto; /* centers the page */
    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif;
    font-size: 11pt;  /* by default */
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
}

#generated-code h1 {
    font-size: 19pt;
    text-align: center;
    margin: 0;

    /* add some big padding on the top, this is okay since we only ever use h1's for the title */
    padding-top: 72pt;
}

#generated-code h2 {
    font-size: 13pt;
    text-align: center;
    margin: 0;
}

#generated-code h3 {
    font-size: 12pt;
    text-align: center;
}

#generated-code img {
    /* all images are centered by default */
    /* we need both of the tags below to center the image */
    display: block;
    margin: auto;
}

#generated-code pre {
    padding: 6.667pt;
    text-wrap: wrap;
    background-color: rgb(230, 230, 250);
    margin-top: 0;
    margin-bottom: 0;
}

.checkpoint {
    padding: 14.4pt;
    background-color: rgb(255, 242, 204);
    font-size: 9pt;
}

.hint {
    padding: 14.4pt;
    background-color: rgb(227, 244, 250);
    font-size: 9pt;
}

.byline {
    text-align: right;
    font-size: 10pt;
    color: #7F7F7F;
}

.center { 
    display: block;
    margin: auto;
}